# .env.example
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID

# not required right now
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# for system-wide email addresses like notifying you of an outage.
# this is NOT not the email address for sending to the end-user
DEPLOYMENT_EMAIL_FROM_ADDRESS=
DEPLOYMENT_EMAIL_TO_ADDRESS=

TZ=UTC
APP_ENV=development
NGINX_HOST_PORT=8080
SOCKET_HOST_PORT=8085
SOCKET_PORT=8085
REDIS_HOST=redis
REDIS_PORT=6379


# PHP Debugging Configuration (Xdebug)
# Set XDEBUG_MODE to enable debugging
XDEBUG_MODE=debug
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_START_WITH_REQUEST=yes
XDEBUG_LOG_LEVEL=0
