body {
  padding-bottom: 20vh;
}
.text-center {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
.cursor {
  cursor: pointer;
}
.hidden {
  display: none;
}

/* read page */
#date-header {
  display: flex;
  justify-content: space-between;
}
.ref {
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
}
.verse-text {
  margin-left: 1rem;
}
#done {
  margin: 7px auto;
  width: 50%;
}
#done button {
  width: 100%;
  padding: 2rem;
}

/* navigation */
#navigation-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;;
}
#navigation {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
#logo {
  width: 10%;
  cursor: pointer;
}

/* session messages */
#message {
  display: flex;
  align-items: center;
}
.icon {
  width: 1.2rem;
}

/* calendars */
.table-scroll {
  overflow-x: auto;
}
th, td {
  text-align: center;
}
.finished-day {
  text-decoration: line-through;
}
.schedule-item {
  margin: 0.5rem 0;
}
.disabled {
  pointer-events: none;
  filter: saturate(0);
}
.underline {
  text-decoration: underline;
}
.active-page {
  border-bottom: 2px solid var(--color-blossom);
}
.active { 
  background: var(--color-success) !important;
}
.reading-day {
  width: 102px;
  height: 90px;
  vertical-align: top;
  box-sizing: border-box;
}
.reading-day.cursor {
  text-decoration: underline;
}
.inactive {
  pointer-events: none;
}
.inactive .date {
  display: none;
}
.today {
  border: 2px solid var(--color-text);
}
.reading-day.start {
  border-left: 2px solid var(--color-text);
  border-top: 2px solid var(--color-text);
}
.reading-day.end {
  border-right: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

/* auth pages */
#auth-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 100vh;
}
#auth-wrap > div {
  margin: 3rem;
}