body {
  padding-bottom: 50vh;
  position: relative;
}
.text-center {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
.cursor {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.filtered {
  display: none !important;
}
.two-columns {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 648px) {
  .two-columns {
    display: block;
  }
}
/* edit calendar page */
#editor {
  position: fixed;
  top: 0;
  left: -290px;
  width: 300px;
  z-index: 1;
  background: var(--color-bg);
  padding: 1rem;
  border: 2px solid var(--color-bg-alt);
  transition: .2s left;
  max-height: 600px;
  overflow-y: scroll;
}
#editor:hover {
  left: -1px;
}
.chapters {
  display: flex;
  flex-flow: row wrap;
}
.chapters small {
  width: 50%;
}
.today .date, .future .date {
  cursor: pointer;
}
input.label {
  padding: initial;
  margin: 0;
  border: initial;
  border-bottom: 1px dotted var(--color-fade);
  min-width: 50px;
  font-size: 70%;
}
.arrow-container div {
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: var(--color-secondary);
  margin-top: 1px;
  box-shadow: 0 0 3px 5px rgba(0,0,0,0.1);
}
.reading-day:not(.active) .arrow-container {
  visibility: hidden;
  pointer-events: none;
}
.date-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* read page */
#date-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;

  * {
    margin-bottom: 0;
  }
}
.ref {
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
}
.verse-text {
  margin-left: 1rem;
}
#done {
  margin: 7px auto;
  width: 50%;
}
#done button {
  width: 100%;
  padding: 2rem;
}

/* navigation */
.navigation-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;;
}
.navigation {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.admin-navigation {
  padding: 21px 7px;
  overflow-x: auto;
}
.nav-item {
  margin: 0 14px;
  padding: 10px 15px;
  font-size: 1.3rem;
  border: none;
  background: none;
}
.nav-item.active-page {
  border-radius: 4px;
  background: var(--color-blossom);
  color: var(--color-bg) !important;
  border: 2px solid var(--color-blossom);
}
.logo {
  width: 10%;
  cursor: pointer;
}

/* session messages */
#message {
  display: flex;
  align-items: center;
}
.icon {
  width: 1.2rem;
}

/* calendars */
.table-scroll {
  overflow-x: auto;
}
.left {
  text-align: left !important;
}
th, td {
  text-align: center;
}
.finished-day {
  text-decoration: line-through;
}
.schedule-item {
  margin: 0.5rem 0;
}
.disabled {
  pointer-events: none;
  filter: saturate(0);
}
.underline {
  text-decoration: underline;
}
.active-page {
  border-bottom: 2px solid var(--color-blossom);
}
.reading-day {
  width: 102px;
  height: 90px;
  vertical-align: top;
  box-sizing: border-box;
}
.reading-day.cursor {
  text-decoration: underline;
}
.inactive {
  pointer-events: none;
}
.inactive .date {
  display: none;
}
.today {
  border: 2px solid var(--color-text);
}
.reading-day.start {
  border-left: 2px solid var(--color-text);
  border-top: 2px solid var(--color-text);
}
.reading-day.end {
  border-right: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

/* auth pages */
#auth-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 100vh;
}
#auth-wrap > div {
  margin: 3rem;
}

/* my schedule */
.badges {
  display: flex;
  justify-content: flex-start;
  margin: 2px 0;
  flex-flow: row wrap;
}
.badge {
  margin: 2px;
  width: 25px;
  font-size: 0.7rem;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0px 2.4px var(--color-text);
  border-radius: 3px;
}

/* mountain */
.mountain-wrap {
  display: block;
  position: relative;
  width: 455px;
  max-height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.mountain {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.mountain-wrap .emoji {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  bottom: 0;
  left: 50%;
  z-index: 1;
}
.emoji .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .1s all;
}
@keyframes yAxis {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    bottom: 8px;
  }
}

.form-group {
  display: flex;
  align-items: flex-start;
}
.form-group .form-help {
  font-size: 70%;
  max-width: 300px;
}
.form-group input[type=number] {
  width: 100px;
  height: 50px;
  margin-left: 14px;
}

/* tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs label {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid var(--color-bg);
}
.tabs .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  padding: 20px;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  border-bottom: 2px solid var(--color-text);
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  background: var(--color-blossom);
  width: 6px;
  height: 6px;
  position: relative;
  left: 3px;
  top: -5px;
}

.link {
  display: inline-block;
  transform: rotate(90deg);
}

/* these filters are very magic numbers based on background colors */
iframe {
  border: none;
  filter: invert(0.867) hue-rotate(180deg);
  overflow: hidden;
}
@media (prefers-color-scheme: light) {
  iframe {
    filter: brightness(0.98);
  }
}
